// variable couleurs
$couleur-theme-principale : #13454a;
$couleur-theme-secondaire : #2d9697;
$couleur-theme-accent : #cca13f;
$couleur-theme-4 : #e84448;
$couleur-theme-5 : #d2d7dc;
$blanc : #ffffff;
$noir : #000000;
$couleur-opacite : 0.5;